*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(0, 0, 0);
}
a{
    text-decoration: none;
    cursor: pointer;
}
#wrapper{
    position: relative;
    max-width: 80vw;
    height: 100%;
    margin: 0 auto;
    height: 100vh;
    /* background: url(header-image.png); */
    background:url(header-image.png) ;
    background-position: center;
    background-size: cover;
    z-index:1 ;
}
#wrapper::after{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: -1;
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.logo img{
    width: 100px;
    height: 50px;
}
.btn1{
    width: 135px;
    height: 30px;
    border: none;
    border: 1px solid white;
    background: transparent;
    border-radius: 3px;

}
.btn2{
    width: 75px;
    height: 32px;
    background-color: rgb(240, 51, 26);
    border: none;
    border-radius: 3px;
}
.down-logo{
    width: 10px ;
    height: 10px;
    
}

.hero-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: white;
    
}
.hero-header{
    font-size: 2rem;
    font-weight: 700;
}
.hero-desc{
    font-size: 1.2rem;
    /* margin: 16px; */
}
.font-desc2{
    font-size: 1.2rem;
}

.hero-login input{
    width: 365px;
    height: 55px;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 5px;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid white;
    background:transparent; 
}
.hero-login button{
    width: 209px;
    height: 55px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background: rgb(231, 11, 11);
}
.content-area{
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.content1{
    width: 100%;
    height: 400px;
    display: flex;
    padding: 0 20px;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    border-top: 5px solid rgb(107, 104, 104) ;
}
.con-head{
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.con-desc{
    width: 100%;
    height: 90px;
    font-size: 1.8rem;
}
.con-right img{
    width: 400px;
    height: 390px;
}
.content2{
    width: 100%;
    height: 600px;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 5px solid rgb(107, 104, 104);
}
@media  (max-width:600px) {
    .content1,.content2{
        flex-direction: column;
        width: 100%;
        height:auto;
        /* gap: 50px; */
        margin: 20px;
    }
    .hero-section .hero-login input[type="text"]{
        width: 100%;
    }
    .content2 .con-left img{
        width: 200px;
        height: 200px;
    }
    .header .logo img{
        width: 100px;
        height: 50px;
    }
/* 
    .header{
        width: 100%;
        justify-content: space-between;
    } */
    .btn1{
        width: 60px;
        
    }
    
}
.image4{
    width: 495px;
    width: 370px;
}
.con-head4{
    width: 100%;
    height:100px;

}
.con-desc4{
    width: 494px;
    font-size: 1.8rem;
}
/* .toggle-btn{
    margin-top: 4px;
    width: 100%;
    height: 40px;
    background: rgb(29, 29, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
} */
.faq{
    text-align: center;
    padding: 16px;
}
.accordian{
    width: 100%;
    max-width: 760px;
    margin: 60px auto;
}
.accordian li{
    list-style: none;
    width: 100%;
    padding: 5Px;
}
.accordian li label{
    display: flex;
    /* justify-content: center; */
    padding: 20px;
    background-color: rgb(48, 46, 46);
    position: relative;
}
.accordian li label::after{
    content: '+';
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 30px;
    transition:200ms;
}
input[type="radio"]{
    display: none;
}
.accordian .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow-y: hidden;
    transition: 200ms linear;
}
.accordian input[type="radio"]:checked +label+.content{
    max-height: 600px;
    padding: 20px;
}
.accordian input[type="radio"]:checked +label::after{
    transform: rotate(135deg);
}
.small-desc{
    margin-bottom: 20px;
    font-size: 0.9rem;
}
